@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/Aptos.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/Aptos-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aptos';
  src: url('./fonts/Aptos-Display-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/Aptos-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('./fonts/Aptos-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Aptos, Tahoma, Arial, serif;
}


.aptos-semibold {
	font-weight: 500;
}

.aptos-display-bold {
	font-weight: 600;
}

.aptos-black {
	font-weight: 800;
}

.aptos-extra-bold {
	font-weight: 900;
}


main {
  text-align: center;
  margin: auto;
  max-width: 900px;
  width: 100%;
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-purple-native {
  --tw-text-opacity: 1;
  color: rgb(160 43 147);
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}