@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aptos";
  src: url("./fonts/Aptos.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aptos";
  src: url("./fonts/Aptos-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aptos";
  src: url("./fonts/Aptos-Display-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aptos";
  src: url("./fonts/Aptos-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aptos";
  src: url("./fonts/Aptos-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-lilac: rgb(112 48 160);
  --color-deep-purple: rgb(160 43 147);
  --color-light-purple: rgb(216 110 204);
  --color-deep-turquoise: rgb(51 119 163);
  --color-blue-grayish: rgb(132 180 220);
  --color-grey: rgb(75, 75, 75);
}

body {
  font-family: Aptos, Tahoma, Arial, serif;
}

html {
  scroll-behavior: smooth;
}

h3.slim {
  font-weight: 500;
  font-size: 1.6rem;
}

main {
  text-align: center;
  margin: auto;
  max-width: 990px;
  width: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.5rem auto;
  text-align: left;
}

.aptos-semibold {
  font-weight: 500;
}

.aptos-display-bold {
  font-weight: 600;
}

.aptos-black {
  font-weight: 800;
}

.aptos-extra-bold {
  font-weight: 900;
}

.arrow-transition {
  background-image: url(/images/arrow.png);
  background-size: 2.1rem;
  background-repeat: no-repeat;
  background-position: 4px 2px;
  vertical-align: middle;
  padding-left: 2.8rem;
}

hr.separator {
  border-top: 1px solid #bbb;
  margin: 3rem auto;
  opacity: 0.65;
}

ul.marked-list {
  padding: 0 60px;
}

ul.marked-list li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
  text-align: left;
  display: list-item;
}

.text-blue-grayish {
  color: var(--color-blue-grayish);
}

.text-grey {
  color: var(--color-grey);
}

.text-lilac {
  color: var(--color-lilac);
}

.text-deep-turquoise {
  color: var(--color-deep-turquoise);
}

.text-light-purple {
  color: var(--color-light-purple);
}

.text-purple-native {
  color: var(--color-deep-purple);
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
